<%= render "ingest_stats", :ingest => @ingest %>

<% process_errors = get_errors(@ingest) %>
<% process_errors.keys.each do |process| %>
  <a id="<%= process %>" class="error_link"><%= process %></a> |
<% end %>

<% process_errors.each do |process, errors| %>
<table id="<%= process %>_table" class="table error_table" style="display: none;">
  <tr>
    <th><%= process %></th>
  </tr>
  <% errors.each do |error| %>
  <tr>
    <td><%= error %></td>
  </tr>
  <% end %>
</table>
<% end %>
