<h1>Errors : <%= @ingest['provider'] %></h1>

<div class="row span12">
<div class="span6">
<dl class="dl-horizontal">
  <dt>Provider</dt>
  <dd><%= @ingest['provider'] %></dd>
  <dt>Ingest Sequence</dt>
  <dd><%= @ingest['ingestionSequence'] %></dd>
  <dt>Ingest Date</dt>
  <dd><%= nice_time(@ingest['ingestDate']) %></dd>
</dl>
</div>
<div class="span6">
<dl class="dl-horizontal">
  <dt>Added</dt>
  <dd><%= @ingest['countAdded'] %></dd>
  <dt>Deleted</dt>
  <dd><%= @ingest['countDeleted'] %></dd>
  <dt>Changed</dt>
  <dd><%= @ingest['countChanged'] %></dd>
</dl>
</div>
</div>

<table class="table">
  <tr>
    <th>Error</th>
  </tr>
  <% @errors.each do |error| %>
  <tr>
    <td><%= error %></td>
  </tr>
  <% end %>
</table>
