<h1>Reports : <%= @ingest['provider'] %></h1>

<div class="row span12">
<div class="span6">
<dl class="dl-horizontal">
  <dt>Provider</dt>
  <dd><%= @ingest['provider'] %></dd>
  <dt>Ingest Sequence</dt>
  <dd><%= @ingest['ingestionSequence'] %></dd>
  <dt>Ingest Start Date</dt>
  <dd><%= nice_time(@ingest['ingestDate']) %></dd>
</dl>
</div>
<div class="span6">
<dl class="dl-horizontal">
  <dt>Added</dt>
  <dd><%= @ingest['countAdded'] %></dd>
  <dt>Deleted</dt>
  <dd><%= @ingest['countDeleted'] %></dd>
  <dt>Changed</dt>
  <dd><%= @ingest['countChanged'] %></dd>
</dl>
</div>
</div>

<div><button type="button" id="check_all">Check/Uncheck All</button></div>
<%= hidden_field_tag "id", @ingest["_id"] %>
<table class="table">
<tr>
  <th><button type="button" id="create">Create</button></th>
  <th>Report</th>
  <th>Status</th>
</tr>
<% @report_types.each do |type| %>
<% report = @reports[type][:report] %>
<% downloading = @reports[type][:downloading] %>
<tr>
  <td><%= check_box_tag "reports[]", type, false, :disabled => (report or downloading) %></td>
  <td><%= type %></td>
  <td class="<%= type %>_link"><%= report_link(report, downloading, @ingest['_id'], type) %> <small><%= report_details(report) %></small></td>
</tr>
<% end %>
</table>
