<h1>Reports : <%= @ingest['provider'] %></h1>

<div class="row span12">
<div class="span6">
<dl class="dl-horizontal">
  <dt>Provider</dt>
  <dd><%= @ingest['provider'] %></dd>
  <dt>Ingest Sequence</dt>
  <dd><%= @ingest['ingestionSequence'] %></dd>
  <dt>Ingest Start Date</dt>
  <dd><%= nice_time(@ingest['ingestDate']) %></dd>
</dl>
</div>
<div class="span6">
<dl class="dl-horizontal">
  <dt>Added</dt>
  <dd><%= @ingest['countAdded'] %></dd>
  <dt>Deleted</dt>
  <dd><%= @ingest['countDeleted'] %></dd>
  <dt>Changed</dt>
  <dd><%= @ingest['countChanged'] %></dd>
</dl>
</div>
</div>

<div style="float: left;"><button type="button" class="generate_reports">Generate Reports</button></div>
<div style="float: right;"><button type="button" id="refresh_status">Refresh Status</button></div>
<%= hidden_field_tag "id", @ingest["_id"] %>
<table class="table">
<tr>
  <th><%= check_box_tag "check_all" %> Check/Uncheck All</th>
  <th>Report</th>
  <th>Status</th>
</tr>
<% @report_types.each do |type| %>
<% report = @reports[type][:report] %>
<% generate_job = @reports[type][:generate_job] %>
<tr>
  <td><%= check_box_tag "reports[]", type, false, :disabled => (report or generate_job), :class => "report_checkbox" %></td>
  <td><%= type %></td>
  <td class="<%= type %>_link"><%= report_link(report, generate_job, @ingest['_id'], type) %> <small><%= report_details(report) %></small></td>
</tr>
<% end %>
<tr>
  <td colspan="3"><button type="button" class="generate_reports">Generate Reports</button></td>
<tr>
</table>
