<% if !current_user.present? %>
  <h1>DPLA Home</h1>
<% elsif !current_user.api_key.present? %>
  <h1>Connecting to the DPLA API is as simple as 1-2-3</h1>
  
  <h2 id="step1-intro">First, click below to Register your Application</h2>
  <form><button value="Request API Key" id="request_key">Register your application</button></form> 
  <div id="request-spinner" class="spinner" style="display:none"><%= image_tag "spinner.gif" %>&nbsp;&nbsp;Requesting app...</div>
  <h3 id="request-message" style="display:none"></h3>
  <div id="app-info" style="display:none">
    <h4>Application Id:</h4>
    <p><code><span id="app-id"></span></code></p>
    <input type="hidden" id="api-key-id" value="">
    <h4>Secret:</h4>
    <p><code><span id="app-secret"></span></code></p>
  </div>
<% elsif !current_user.api_key.app_authorized? %>
  <h1>Connecting to the DPLA API is as simple as 1-2-3</h1>
  <div id="app-info">
    <h3>An API Client Application has been registered</h3>
    <h4>Application Id:</h4>
    <p><code><%= current_user.api_key.application.uid %></code></p>
    <input type="hidden" id="api-key-id" value="<%= current_user.api_key.id %>"> 
    <h4>Secret:</h4>
    <p><code><%= current_user.api_key.application.secret %></code></p>
  </div>
  <h2 id="step2-intro">Click below to request the Access Token for your application</h2>
  <h3 id="request-token-message" style="display:none"></h3>
  <form id="request_token_form"><label>Confirm Password:</label><input type="password" id="password" /><button value="Request Access Token" id="request_token">Request Access Token</button></form>
  <div id="request-token-spinner" class="spinner" style="display:none"><%= image_tag "spinner.gif" %>&nbsp;&nbsp;Requesting Access Token</div>
<% else %>
  <h2>You are ready to use the API</h2>
  <h4>This is your access token:</h4>
  <p><code><%= current_user.api_key.secret_token %></code> Keep It secret.</p>
  <h4>Test it out in your favorite terminal:</h4>
  <blockquote>curl -i http://20.dpla.berkman.temphost.net:9020/api/v1/search/?access_token=<%= current_user.api_key.secret_token %></blockquote>
  <div id="app-info">
    <h3>An API Client Application has been registered</h3>
    <h4>Application Id:</h4>
    <p><code><%= current_user.api_key.application.uid %></code></p>
    <input type="hidden" id="api-key-id" value="<%= current_user.api_key.id %>"> 
    <h4>Secret:</h4>
    <p><code><%= current_user.api_key.application.secret %></code></p>
  </div>
<% end %>
  <div id="step-two" style="display:none">
    <h2 id="step2-intro">Next, click below to request the Access Token for your application</h2>
    <h3 id="request-token-message" style="display:none"></h3>
    <form id="request_token_form"><label>Confirm Password:</label><input type="password" id="password" /><button value="Request Access Token" id="request_token">Request Access Token</button></form>
     <div id="request-token-spinner" class="spinner" style="display:none"><%= image_tag "spinner.gif" %>&nbsp;&nbsp;Requesting Access Token</div>
  </div>
  <div id="api-ready" style="display:none">
    <p><code><span class="token"></span></code> Keep it secret.</p>
    <h4>Test it out in your favorite terminal:</h4>
    <blockquote>curl -i http://20.dpla.berkman.temphost.net:9020/api/v1/search/?access_token=<span class="token"></span></blockquote>
  </div>
<script type="text/javascript">
  
  jQuery("#request_token").bind("click", function(e){
    e.preventDefault();
    data = { password: $("#password").val(), authorize: 'true' };
    var target = $("#request_token_form");
    jQuery.ajax({
      url: '/api_keys/'+$("#api-key-id").val(),
      dataType: 'JSON',
      type: 'PUT',
      data: data,
      beforeSend: function(){
        target.hide();
        $("#request-token-spinner").show();
      },
      complete: function(){
        $("#request-token-spinner").hide();
      },
      success: function(data){
        $("#step2-intro").hide();
        $("#request-token-message").html(data.message).show();
        $(".token").html(data.token);
        $("#api-ready").show();
      },
      error: function(request){
        var response_message = jQuery.parseJSON(request.responseText)
        var message = (request.status == 403) ? response_message.message : "An unknown error occurred. Support has been contacted.";
        $("#step2-intro").hide();
        $("#request-token-message").html(message).show();
        if (request.status == 403){ $("#request_token_form").show()  }
      }

    });
  });

  $("#request_key").bind("click", function(e){
    e.preventDefault();
    var target = $("#request_key");
    jQuery.ajax({
      url: '<%= api_keys_path %>',
      dataType: 'JSON',
      type: 'POST',
      beforeSend: function(){
        target.hide();
        $("#request-spinner").show();
      },
      complete: function(){
        $("#request-spinner").hide();
      },
      success: function(data){
        $("#step1-intro").hide();
        $("#request-message").html(data.message).show();
        $("#app-id").html(data.application.uid);
        $("#api-key-id").val(data.apiKeyId);
        $("#app-secret").html(data.application.secret);
        $("#app-info").show();
        $("#step-two").show(); 
      },
      error: function(request){
        var message = (request.status == 403) ? request.responseText : "An unknown error occurred. Support has been contacted.";
        $("#request-message").html(message).show();
        if (request.status == 403){ $("#request_key").show()  }
      }

    });
  });

  

</script>
